
POSTGRES_USER=waanter_user
POSTGRES_PASSWORD=change_me_in_local_env
POSTGRES_DB=waanter_db
POSTGRES_PORT=5432
DATABASE_URL=postgresql+psycopg://waanter_user:change_me_in_local_env@postgres:5432/waanter_db
JWT_SECRET_KEY=4sVOwKei3tqSKTwgyoWyGxlj9SA8lViFmyO-uEmi8Bzdw9MELuE_0k1WPkfIWuif98qhv1XS4JyHmjzp9E3CWw